# build
LEDController/TestResults
LEDController/LEDController/obj
LEDController/LEDController/bin
LEDController/LEDControllerTest/obj
LEDController/LEDControllerTest/bin
LEDController/LEDControllerTest/obj
LEDController/LEDController/obj

# editor configuration
LEDController/.vs
.vscode
LEDController/.vs